{% extends "jinja2/base.html" %}

{% block meta_title %}База{% endblock meta_title %}

{% block title %}Список японської класичної поезії за автором{% endblock title %}

{% block content %}
<ul>
{% for author in authors %}
 	<li>
 		<a data-toggle="collapse" href="#{{author.name | cut:" "}}" aria-expanded="false" aria-controls="{{author.name}}">{{author.name}}</a>
 		<div class="collapse" id="{{author.name | cut:" "}}">
		 	<ol>
		 		{% for verse in author.verse.all %}
		        <li>
		        	<a data-toggle="collapse" href="#{{verse.name | cut:" "}}" aria-expanded="false" aria-controls="collapseExample">{{verse.name}}{% if  verse.year.all.0.year%}- {{ verse.year.all.0.year }} р.{% endif %}</a>
		        	<div class="collapse" id="{{verse.name | cut:" "}}">
			            <div class='well'>{{verse.text}}</div>
			            <div></div>
	        		</div>
		        </li>
		        {% endfor %}
	    </ol>
	</div>
    </li>
{% endfor %}
</ul>

<form class="form-inline" action="/" method="post">
	{% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" id="author_name" placeholder="Введіть ім’я автора" name='author_name'>
  </div>
  <button type="submit" class="btn btn-success">Додати автора</button>
</form>
{% endblock content %}
